# R Files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache

# Ruby/Jekyll Files
.bundle
_site
.sass-cache
.jekyll-metadata

# rendered .html files in source dirs
lectures/*/*.html
lectures/*/*/remark-css*
lectures/*/*_files
problem_sets/*/*.html
problem_sets/*/*_files
