# R Files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache

# Ruby/Jekyll Files
.bundle
_site
.sass-cache
.jekyll-metadata

# rendered .html files in source dirs
labs_source/*/*.html
labs_source/*/*/remark-css*
labs_source/*/*_files
