body {
  counter-reset: exercises toc; /* initialize counters */
  font-size: 18px;
}
.col-md-3 { width: 12%; }

#TOC { width: 65%; max-width: 130px; }

.tocify-header { text-indent: 0; }

.col-md-9 { width: 88%; }

p { margin: 5px 0;}

img {margin: 5px 0;}

ol li, ul li { list-style-position: inside; }

div[id^='exercise'] { background:rgba(49, 126, 172, 0.1); }

div[id^='exercise'] > h2 {
  font-weight: bold;
  color: #fff;
  background:#317EAC;
  padding: 5px 10px;
}

div[id^='exercise'] > h2::after {
  content: " " counter(exercises);
  counter-increment: exercises;
}

li[data-unique^="exercise"]::after  {
    content: " " counter(toc); /* Use the counter as content */
    counter-increment: toc; /* Increment the counter by 1 */
}

.level3 {
  background: #fff;
  padding-top: 15px;
  margin-bottom: 0;
}

.level3 > h3 { margin: 0;}

.attention { 
  color: #000;
  border: 2px solid #ff2e2e;
  padding: 10px 10px;
  background-color: rgb(255, 110, 110);
  border-radius: 5px;
}

.table {width: inherit; background-color: white;}


.pagedtable table { width: auto;}

.pagedtable th { max-width: none !important;}
