body {
  counter-reset: exercises toc /* initialize counters */
}

p { margin: 5px 0; }

ol li, ul li {
  list-style-position: inside;
}

div[id^='exercise'] {
  background:rgba(49, 126, 172, 0.1);
}

div[id^='exercise'] > h2 {
  font-weight: bold;
  color: #fff;
  background:#317EAC;
  padding: 5px 10px;
}

div[id^='exercise'] > h2::after {
  content: " " counter(exercises);
  counter-increment: exercises;
}

.tocify-header > li:after {
    content: " " counter(toc); /* Use the counter as content */
    counter-increment: toc; /* Increment the counter by 1 */
}

.level3 {
  background: #fff;
  padding-top: 15px;
  margin-bottom: 0;
}

.level3 > h3 {
  margin: 0;
}

#license { 
  color: #4C721D;
  border:1px solid #4C721D;
  padding: 10px 10px;
  background-color: rgba(76, 114, 29, 0.2);
  border-radius: 5px;
}
